<div class="columns">
    <div class="column">
        <article class="listHeader">Biggest Win</article>
        <ol>
            {{#each biggestWin}}
            <li>{{this.user.username}}    {{this.biggest_win}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="column">
        <article class="listHeader">Biggest Loss</article>
        <ol>
            {{#each biggestLoss}}
            <li>{{this.user.username}}    {{this.biggest_loss}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="column">
        <article class="listHeader">Longest Win Streak</article>
        <ol>
            {{#each longestWin}}
            <li>{{this.user.username}}    {{this.longest_win_streak}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="column">
        <article class="listHeader">Longest Lose Streak</article>
        <ol>
            {{#each longestLose}}
            <li>{{this.user.username}}    {{this.longest_lose_streak}}</li>
            {{/each}}
        </ol>
    </div>
</div>
