

<div class="columns">
  <div class="column">
    <article class="listHeader">Biggest Win</article>
  </div>
    <ul class="people_list">
        {{#each people}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  <div class="column">
    <article class="listHeader">Biggest Loss</article>
  </div>
    <ul class="people_list">
        {{#each people}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  <div class="column">
    <article class="listHeader">MONEY</article>
    <ul class="people_list">
        {{#each people}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
  <div class="column">
    <article class="listHeader">Longest Win Streak</article>
    <ul class="people_list">
        {{#each people}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
  <div class="column">
    <article class="listHeader">Longest Lose Streak</article>
    <ul class="people_list">
        {{#each people}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
</div>